extends _layout.pug

block variables
  -
    var title = 'TradeLine'
    var description = 'TradeLine'
    var index = true

block content
  include components/what.pug
  include components/delivered.pug
  include components/profitable.pug
  include components/about.pug
  include components/scheme.pug
  include components/reviews.pug
  include components/instagram.pug
  include components/cost.pug
